extends layout

block content
    h1 CIUDADES DEL MUNDO
    img(src='https://static.vecteezy.com/system/resources/previews/002/200/682/original/modern-night-city-skyline-landscape-backgrounds-illustration-eps10-vector.jpg' alt="SKYLINE" style="width: 350px")